body{
    background-color: darkorchid;
    text-align: center;
    border: 2px dotted honeydew;
}
header{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: larger;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    opacity: 69%;
    text-decoration: underline;
}
.intro{
    color: antiquewhite;
    font-weight: 300;
    font-size: medium;
}
.origin{
    color: antiquewhite;
    font-weight: 300;
    line-height: 15px;
}
.believe{
    color: antiquewhite;
    padding-right: 50%;
    line-height: 23px;
    padding-top: 10px;
}
ul,li{
    text-align: center;
}
.form{
    font-weight: 300;
    opacity: 70%;
    text-decoration: cornsilk;
    padding-bottom: 30px;
    text-align: center;
}