body{
    background-color: darkorchid;
    text-align: center;
    justify-content: center;
    margin: 0;
    border: 2px dotted honeydew;
   }
header{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: larger;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    opacity: 69%;
    text-decoration: underline;
    margin-top: 0; 
    font-size: 1.8rem; 
    letter-spacing: 1px; 
}
.intro{
    color: antiquewhite;
    font-weight: 300;
    font-size: medium;
}
.origin{
    color: antiquewhite;
    font-weight: 300;
    line-height: 15px;
}
.believe{
    color: antiquewhite;
    padding-right: 50%;
    line-height: 23px;
    padding-top: 10px;
}
ul,li{
    text-align: center;
}
.form{
    font-weight: 300;
    opacity: 70%;
    text-decoration: cornsilk;
    padding-bottom: 30px;
    text-align: center;
}
.symbol{
    border: 3px dotted black;
}
.text-content{
    background-color: blueviolet;
    font-weight: 600;
    color: antiquewhite;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 243, 255, 0.2);
}